.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
.firstsec{
    width: 70%;
}
.pic{
    width: 300px;
    margin-top: 40px;
}
img{
    width: 300px;
    border-radius: 10%;
}
.sec2{
    width: 100%;
}
h4{
    margin-right: 100px;
}
.signs li{
    margin-bottom: 10px;
    list-style: disc;
    margin-right: 100px;
}